<%- include('../partials/header') -%>
    <div class="container">
        <div class="form-group" style="min-width:350px; width: 40%;margin:25px auto;">
          <form action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
            <h1 style="text-align:center; ">Edit Blog</h1>
            <div class="form-group">
              <label for="blog[title]">Title</label>
              <input type="text" name="title" required class="form-control" value="<%=blog.title%>" aria-describedby="helpId">
            </div>
            <div class="form-group">
              <label for="blog[image]">Image</label>
              <input type="text" name="image" required class="form-control" value="<%= blog.image %> " aria-describedby="helpId">
            </div>
            <div class="form-group">
              <label for="blog[body]">Content</label>
              <textarea name="body" class="form-control" required style="height: 10em;"><%= blog.body %> </textarea>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-lg btn-success">
            </div>
          </form>
          
        </div>
    </div>
    <%- include('../partials/footer') -%>